@page
@model RecipeAppV3.Pages.RecipeList.IndexModel


<br />
<div class="container row p-0 m-0">
    <div class="col-10">
        <h2 class="text-info">Recipe List</h2>
    </div>
    <div class="col-2">
        <a asp-page="Add" class="btn btn-info form-control">Add New Recipe</a>
    </div>


    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.Recipes.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>

                            <label asp-for="Recipes.FirstOrDefault().RecipeName"></label>
                        </th>
                        <th>
                            <label asp-for="Recipes.FirstOrDefault().RecipeTime"></label>
                        </th>
                        <th>
                            <label asp-for="Recipes.FirstOrDefault().RecipeIngredients"></label>
                        </th>
                        <th>

                        </th>
                    </tr>

                    @foreach (var item in Model.Recipes)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.RecipeName)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.RecipeTime)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.RecipeIngredients)
                            </td>
                            <td>
                                <a asp-page="View" asp-route-id="@item.ID" class="btn btn-info btn-sm text-white">View</a>
                                <a asp-page="Edit" asp-route-id="@item.ID " class="btn btn-warning btn-sm text-white">Edit</a>
                                <button asp-page-handler="Delete" asp-route-id="@item.ID" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger btn-sm">Delete</button>

                            </td>
                        </tr>
                    }
                </table>

            }
            else
            {
                <p>No Recipes available.</p>
            }
        </form>
    </div>
</div>



